@charset 'UTF-8';
@import '../../../../assets/scss_styles/custom_scss/_custom-export.scss';
.event-set{
    .title{
        margin-bottom: 20px;
        border-bottom: 1px solid #e7eaec;
        padding-bottom: 10px;
        h3{
            font-size: 18px;
            font-weight: 500;
            color: #434950;
            display: inline-block;
        }
        .beautify-wrap{
          float: right;
          span{
              position: relative;
              top: -3px;
          }
        }
    }
    .my-table{
        font-size: 0.875rem;
        color: #6b6e70;
        text-align: center;
        th{
            text-align: center;
            font-size: 0.875rem;
        }
    }
    .disabled{
        cursor: no-drop;
    }
}