<div class="custom-card separation">
  <div class="custom-cad-header">
    <!--搜索区域-->
    <div class="table-search">
      <form>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">关键字</label>
          <input type="text" class="form-control" placeholder="栅栏名称" [(ngModel)]="FenceName" (keyup.enter)="search(FenceName)" [ngModelOptions]="{standalone: true}">
        </div>
        <button type="button" class="btn btn-primary" (click)="search(FenceName)">查询</button>
        <button type="button" class="btn btn-secondary" (click)="add()"><i class="fpd fpd-jiahao"></i>新增栅栏</button>
      </form>
    </div>
  </div>
  <div class="custom-card-body" [@fadeIn]="true">
    <app-mit-loading [option]="'load7'" *ngIf="!list"></app-mit-loading>
    <app-mit-modal [text]="text" *ngIf="isModal"></app-mit-modal>
    <!--表格区域-->
    <app-mit-data-table>
      <table *ngIf="list">
        <thead>
          <tr>
            <th>创建时间</th>
            <th>栅栏名称</th>
            <th>受控车数</th>
            <th>围栏相关地址</th>
            <th>报警方式</th>
            <th>是否启用</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{item.CreateTime || '-'}}</td>
            <td>{{item.FenceName || '-'}}</td>
            <td>{{item.ControlVehicleCount || 0}}</td>
            <td>{{item.FenceAddress || '-'}}</td>
            <td>{{item.AlarmTypeDesc || '-'}}</td>
            <td class="beautify-wrap"><input type="checkbox" class="beautify-checkbox" name="rememberme" [id]="item.ID" [(ngModel)]="item.Status" (ngModelChange)="updataStatus(item.ID,item.Status);">
              <label [for]="item.ID"></label>
            </td>
            <td>
              <span class="operator-span" (click)="detail(item.ID)">车辆管理</span>
              <span class="operator-span" (click)="modify(item.ID)">修改</span>
              <span class="operator-span" (click)="delete(item)">删除</span>
            </td>
          </tr>
        </tbody>
      </table>
    </app-mit-data-table>
    <!--分页-->
    <app-mit-data-table-pagination [currentPage]="currentPage" [totalCountSize]="totalCount" (pageChange)="pageChange($event)" [maxSize]="5" [rotate]="true"></app-mit-data-table-pagination>
    <h3 *ngIf="list && list.length === 0" class="text-center text-muted" [@bounceIn]="true">暂无相关数据信息!!!</h3>
  </div>
</div>
<app-delete *ngIf="showAlert" [item]="currentItem" (close)="closeAlert($event)"></app-delete>
