@charset 'UTF-8';
@import '../../../../assets/scss_styles/custom_scss/_custom-export.scss';
.convention{
    margin-bottom: 30px;
    .convention-report{
        padding: 30px;
    }
    .btn{
        margin-left: 30px;
    }
}
