<div class="dictionary-select">
  <div class="select" (click)="isExpand = !isExpand">
    <input type="text" (click)="isExpand = !isExpand" [placeholder]="placeholder.length > 1 ? placeholder.join('/') : placeholder[0]"
      [(ngModel)]="selected" [disabled]="true">
  </div>
  <div class="list-menu" *ngIf="isExpand">
    <div *ngFor="let i of param;let index = index">
      <div class="sub-list" *ngIf="index === 0 || ( index != 0 && checked[index-1])">
        <input type="text" placeholder="关键字" *ngIf="list[i]" [(ngModel)]="searcVal[index]">
        <div class="title" *ngIf="placeholder[index]"><strong>{{placeholder[index]}}</strong></div>
        <ul *ngIf="list">
          <ng-template ngFor let-item [ngForOf]="list[i] | dictionarySelect:searcVal[index]">
            <li (click)="checked[index] = item;selectHandle(checked);" [class.active]="checked.length && checked[index] === item">{{item.DictionaryValue}}</li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</div>
