<div class="custom-card separation">
  <div class="custom-cad-header">
    <!--搜索区域-->
    <div class="table-search">
      <form>
        <a (click)="add()" class="btn-add-or-public" (click)="add()">新增采购订单</a>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">供应商</label>
          <div class="supplier-select">
            <app-supplier-select class="form-control" [showAll]="true" (result)="getSupplierID($event)"></app-supplier-select>
          </div>
        </div>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">产品型号</label>
          <app-product-number-select class="form-control" [SupplierId]="supplierID" [showAll]='true' (result)="getDeviceModelID($event)"></app-product-number-select>
        </div>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">订单号</label>
          <input type="text" class="form-control input-lg" style="width:180px" placeholder="订单号" [(ngModel)]="OrderNumber" (keyup.enter)="search(OrderNumber)"
            [ngModelOptions]="{standalone: true}">
        </div>
        <button type="button" class="btn btn-primary" (click)="search(OrderNumber)">查询</button>
      </form>
    </div>
  </div>
  <div class="custom-card-body" [@fadeIn]="true">
    <app-mit-loading [option]="'load7'" *ngIf="!list"></app-mit-loading>
    <app-mit-modal [text]="text" *ngIf="isModal"></app-mit-modal>
    <!--表格区域-->
    <app-mit-data-table>
      <table *ngIf="list">
        <thead>
          <tr>
            <th>订单号</th>
            <th>产品型号</th>
            <th>供应商</th>
            <th>数量</th>
            <th>金额</th>
            <th>下单人</th>
            <th>采购日期</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{item.PurchaseOrderNO}}</td>
            <td>{{item.PurchaseDeviceModelID || '未知型号'}}</td>
            <td>{{item.DeviceSuppliersID}}</td>
            <td>{{item.DeviceCount}}</td>
            <td>{{item.PurchaseTotalMoney}}</td>
            <td>{{item.OrdersPerson}}</td>
            <td>{{item.PurchaseTime | splitTime}}</td>
            <td>
              <span class="operator-span" (click)="modify(item)">修改</span>
              <span class="operator-span" (click)="detail(item.ID)">详情</span>
              <span class="operator-span" (click)="delete(item)">删除</span>
            </td>
          </tr>
        </tbody>
      </table>
    </app-mit-data-table>
    <!--分页-->
    <app-mit-data-table-pagination [currentPage]="currentPage" [totalCountSize]="totalCount" (pageChange)="pageChange($event)" [maxSize]="5" [rotate]="true"></app-mit-data-table-pagination>
    <h3 *ngIf="list && list.length === 0" class="text-center text-muted" [@bounceIn]="true">暂无相关数据信息!!!</h3>
  </div>
</div>
<app-delete *ngIf="showDeleteAlert" [item]="deleteItem" (close)="closeAlert($event)"></app-delete>
