@charset 'UTF-8';
@import '../../../../../assets/scss_styles/custom_scss/_custom-export.scss';
.single-render {
  @include flex(flex-start, center, row, flex, wrap);
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  color: #333;
  background: #eee;
  border-radius: 10px;
  padding: 10px 0;
  li {
    .title {
      padding-right: 0.5rem;
    }
    padding: 5px 30px;
    text-align: center;
  }
}

.flex-center {
  @include flex(center, center);
}
