.select-temp {
  border-radius: 0.25rem;
  margin: -0.5rem -0.75rem;
  background: #FFF;
  position: relative;
  .select {
    input {
      width: 100%;
      padding: 0 0.75rem;
      background: transparent;
      height: 35px;
      border: none;
      outline: none;
      &:disabled {
        cursor: pointer;
      }
    }
    input[placeholder],
    [placeholder],
    *[placeholder] {
      color: #55595c !important;
    }
    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    &:after {
      position: absolute;
      right: 10px;
      top: 50%;
      display: block;
      width: 0;
      height: 0;
      content: "";
      border-top: 4px solid;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
  }
  .list-menu {
    position: absolute;
    z-index: 9999;
    background: #ffffff;
    width: 100%;
    border: 1px solid #e0e0e0;
    .sub-input {
      padding: 10px;
      input {
        height: 35px;
        line-height: 35px;
        text-indent: 7px;
        width: 100%;
        border: 1px solid #e0e0e0;
      }
      ;
    }
    ul {
      max-height: 10rem;
      overflow-y: auto;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        width: 100%;
        cursor: pointer;
        padding: 10px;
        &:active,
        &:focus,
        &:hover {
          color: #ffffff;
          background: #39C3DE;
        }
      }
    }
  }
}