.tree {
  margin: 10px 22px;
}

.tree-node-active>.node-wrapper>.node-content-wrapper,
.tree-node-focused>.node-content-wrapper,
.node-content-wrapper:hover,
.tree-node-focused>.node-wrapper>.node-content-wrapper {
  background: #eef0f0 !important;
  box-shadow: none !important;
}

.node-content-wrapper,
.tree-children {
  position: relative;
}

.node-content-wrapper::before,
.tree-children::after {
  content: "";
  position: absolute;
  display: block;
}

.node-content-wrapper::before {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 1px dotted #8c8d8e;
  border-left: 1px dotted #8c8d8e;
  top: -17px;
  left: -25px;
  width: 20px;
  height: 30px;
}

.tree-node-leaf>.node-wrapper>.node-content-wrapper::before {
  width: 25px;
}

.tree-children::after {
  border-left: 1px dotted #8c8d8e;
  height: 100%;
  top: -15px;
  left: -15px;
}

.treenode:last-child>.tree-node>.tree-children::after {
  border-left: none !important;
}

.tree-node-expanded>.node-wrapper>.toggle-children-wrapper>.toggle-children {
  transform: rotate(0) !important;
  &::before {
    background: #FFF;
    content: "-";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    border: 1px solid #333;
    font-size: 12px;
    height: 14px;
    width: 14px;
    line-height: 10px;
    text-align: center;
    margin-left: -5px;
    margin-top: -1px;
  }
}

.toggle-children-wrapper {
  padding: 0 0 0 1px !important;
}

.tree-node-collapsed>.node-wrapper>.toggle-children-wrapper>.toggle-children {
  &::before {
    background: #FFF;
    content: "+";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    border: 1px solid #333;
    font-size: 12px;
    height: 14px;
    width: 14px;
    line-height: 10px;
    text-align: center;
    margin-left: -5px;
    margin-top: -1px;
  }
}

.toggle-children {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  background: #FFF !important;
  z-index: 1;
}

.node-content-wrapper {
  padding: 3px 5px;
  .option {
    margin: 0 10px;
    i {
      color: #2a9cd5;
    }
  }
}
