<div class="custom-card separation">
  <div class="custom-cad-header">
    <!--搜索区域-->
    <div class="table-search">
      <form>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">公司</label>
          <app-organization-tree-select class="form-control" (result)="selectCompany($event)"></app-organization-tree-select>
        </div>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">车辆状态</label>
          <app-select class="form-control" [placeholder]="placeholder" [optionName]="optionName" [optionList]="optionList" (result)="getStatus($event)"></app-select>
        </div>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">关键字</label>
          <input type="text" class="form-control" [(ngModel)]="KeyWords" (keyup.enter)="search(KeyWords)" placeholder="车牌号、IMEI号"
            [ngModelOptions]="{standalone: true}">
        </div>
        <button type="button" class="btn btn-primary" (click)="search(KeyWords)">查询</button>
        <button type="button" class="btn btn-secondary" (click)="download(KeyWords)"><i class="fpd fpd-export"></i>导出</button>
      </form>
    </div>
  </div>
  <div class="custom-card-body" [@fadeIn]="true">
    <app-mit-loading [option]="'load7'" *ngIf="!list"></app-mit-loading>
    <app-mit-modal [text]="text" *ngIf="isModal"></app-mit-modal>
    <!--表格区域-->
    <app-mit-data-table>
      <table *ngIf="list">
        <thead>
          <tr>
            <th>车牌</th>
            <th>品牌车系</th>
            <th>排量</th>
            <th>部门</th>
            <th>IMEI</th>
            <th>车辆状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{item.Plate || '-'}}</td>
            <td>{{item.BrandLineName || '-'}}</td>
            <td>{{item.Displacement || '-'}}</td>
            <td>{{(item.OrganizeName || '-') +'/'+ (item.DepartmentName || '-')}}</td>
            <td>{{item.IMEI || '-'}}</td>
            <td>{{item.DeviceStatusDesc || '-'}}</td>
            <td [ngSwitch]="item.DeviceStatus">
              <a class=" operator-span " [routerLink]="['./engine', item.DeviceID, item.VID]" target="_blank">发动机监测</a>
              <span class="operator-span" *ngSwitchCase="8" (click)="remoteCheck(item)">远程扫描</span>
              <span class="operator-span  disabled" disabled *ngSwitchDefault>远程扫描</span>
              <a class=" operator-span " [routerLink]="['./record', item.DeviceID, item.VID]" target="_blank ">扫描记录</a>
            </td>
          </tr>
        </tbody>
      </table>
    </app-mit-data-table>
    <!--分页-->
    <app-mit-data-table-pagination [currentPage]="currentPage" [totalCountSize]="totalCount " (pageChange)="pageChange($event) " [maxSize]="5" [rotate]="true "></app-mit-data-table-pagination>
    <h3 *ngIf="list && list.length===0 " class="text-center text-muted " [@bounceIn]="true ">暂无相关数据信息!!!</h3>
  </div>
</div>
