<div class="custom-card">
  <div class="custom-card-header">
    <h4>新增客户</h4>
  </div>
  <div class="custom-card-body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8  offset-lg-2">
          <div class="form-group row">
            <label tooltip="" class="col-sm-12 col-md-3 form-control-label  col-lg-2 star">原销售订单号</label>
            <div class="col-sm-12 col-md-9 col-lg-10">
              <input type="text" class="form-control" placeholder="客户名称">
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-12 col-md-3 form-control-label col-lg-2 star">产品类型</label>
            <div class="col-sm-12 col-md-9 col-lg-10">
              <input type="text" class="form-control" placeholder="联系人">
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-12 col-md-3 form-control-label col-lg-2 star">产品型号</label>
            <div class="col-sm-12 col-md-9 col-lg-10">
              <input type="text" class="form-control" placeholder="联系电话">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-12 col-md-3 form-control-label col-lg-2 star">供应商</label>
            <div class="col-sm-12 col-md-9 col-lg-10">
              <input type="text" class="form-control" placeholder="联系人">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-12 col-md-3 form-control-label col-lg-2 star">退货客户</label>
            <div class="col-sm-12 col-md-9 col-lg-10">
              <input type="text" class="form-control" placeholder="下单人">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-12 col-md-3 form-control-label col-lg-2 star">IMEI/IMSI</label>
            <div class="col-sm-12 col-md-9 col-lg-10">
              <input type="text" class="form-control" placeholder="产品型号">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-12 col-md-3 form-control-label col-lg-2 star">退货原因</label>
            <div class="col-sm-12 col-md-9 col-lg-10">
              <input type="text" class="form-control" placeholder="数量：">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-12 col-md-3 form-control-label col-lg-2">退货说明</label>
            <div class="col-sm-12 col-md-9 col-lg-10">
              <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
            </div>
          </div>
          <div class="form-group row save-area">
            <div class="col-sm-12 col-md-8 offset-md-3 col-lg-10 offset-lg-2">
              <button type="submit" class="btn btn-primary" >保存</button>
              <button type="button" class="btn btn-secondary" >取消</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
