<div class="custom-card">
  <div class="custom-card-body">
    <div class="row access">
      <div class="driver-basic col-xl-5 col-lg-12 col-sm-12">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p>姓名: 张三</p>
            <p>性别: 男</p>
            <p>籍贯: 广东深圳</p>
            <p>年龄: 30</p>
            <p>驾龄: 10年</p>
            <p>工龄: 5年</p>
            <p>评级: <app-mit-stars [starNum]="star"></app-mit-stars></p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="assets/images/default_img/login-bg.jpg" width="100%" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <p>累计里程: 30000公里</p>
            <p>累计时长: 2000小时</p>
            <p>出车次数: 1553次</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <p>系统评价:</p>
            <p>少时诵诗书所死死死死死死死</p>
          </div>
        </div>
      </div>
      <div class="driver-details col-xl-6 col-lg-12 col-sm-12 offset-xl-1">
        <h5>报警事件</h5>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p>碰撞报警:0</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p>翻车报警:0</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p>水温报警:0</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p>疲惫驾驶:0</p>
          </div>
        </div>
        <h5>驾驶行为统计</h5>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p>急加速: 1.5次/100km</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p>急减速: 1.5次/100km</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p>急转弯: 1.5次/100km</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p>快速变道: 1.5次/100km</p>
          </div>
        </div>
        <h5>违规违章</h5>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p>汽车点名: 0</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p>区域栅栏: 0</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p>超速栅栏: 0</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p>怠速栅栏: 0</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p>夜间行车: 0</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p>交通违章: 0</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


