<div class="custom-card separation">
  <div class="custom-cad-header">
    <!--搜索区域-->
    <div class="table-search">
      <form>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">公司</label>
          <app-organization-tree-select class="form-control" (result)="selectCompany($event)"></app-organization-tree-select>
        </div>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">时间范围</label>
          <input type="text" name="dp" (click)="StartTime.toggle();" ngbDatepicker [maxDate]="nowDate" [(ngModel)]="startTime" #StartTime="ngbDatepicker"
            class="form-control" placeholder="开始时间" [ngModelOptions]="{standalone: true}"> <label class="time">至</label>
          <input type="text" name="dp" (click)="EndTime.toggle();" ngbDatepicker [minDate]="startTime" [maxDate]="nowDate" [(ngModel)]="endTime"
            #EndTime="ngbDatepicker" class="form-control" placeholder="结束时间" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">关键字</label>
          <input type="text" class="form-control" placeholder="车牌、驾驶员" [(ngModel)]="KeyValue" (keyup.enter)="search(KeyValue,startTime,endTime)"
            [ngModelOptions]="{standalone: true}">
        </div>
        <button type="button" class="btn btn-primary" (click)="search(KeyValue,startTime,endTime)">查询</button>
        <button type="button" class="btn btn-secondary" (click)="download(KeyValue,startTime,endTime)"><i class="fpd fpd-export"></i>导出</button>
      </form>
    </div>
  </div>
  <div class="custom-card-body" [@fadeIn]="true">
    <app-mit-loading [option]="'load7'" *ngIf="!list"></app-mit-loading>
    <app-mit-modal [text]="text" *ngIf="isModal"></app-mit-modal>
    <!--表格区域-->
    <app-mit-data-table>
      <table *ngIf="list">
        <thead>
          <tr>
            <th>车牌</th>
            <th>品牌车系</th>
            <th>部门</th>
            <th>栅栏名称</th>
            <th>时间</th>
            <th>地址</th>
            <th>驾驶员</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{item.Plate || '-'}}</td>
            <td>{{(item.VehicleBrand || '-') + '/' + (item.VehicleLine || '-')}}</td>
            <td>{{(item.OrganizationName || '-')+ '/' +(item.DepartmentName || '-')}}</td>
            <td>{{item.FenceName || '-'}}</td>
            <td>{{item.StartTime || '-'}}</td>
            <td>{{item.Address | SliceStr:0:50:'...' || '-'}}</td>
            <td>{{item.DriverName || '-'}}</td>
            <td>
              <span class="operator-span" (click)="detail(item)">查看行程</span>
            </td>
          </tr>
        </tbody>
      </table>
    </app-mit-data-table>
    <!--分页-->
    <app-mit-data-table-pagination [currentPage]="currentPage" [totalCountSize]="totalCount" (pageChange)="pageChange($event)" [maxSize]="5" [rotate]="true"></app-mit-data-table-pagination>
    <h3 *ngIf="list && list.length === 0" class="text-center text-muted" [@bounceIn]="true">暂无相关数据信息!!!</h3>
  </div>
</div>
