@import '../../../assets/scss_styles/loading/loading';


.load-container {
    margin:0 auto;
    // border: 1px solid rgba(255, 255, 255, 0.2);
    width: 240px;
    height: 240px;
    position: relative;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



@media (max-width:1199px){

}

@media (max-width:991px){

}

@media (max-width:767px){

}

@media (max-width:479px){

}
