<div class="wrapper" id="print">
  <h2 class="text-center">驾驶员KPI考核报表<button type="button" class="btn btn-primary float-right" (click)="printArea()"><i class="fpd fpd-dayin"></i>打印</button></h2>
<!--startprint-->
  <div class="title">
    <div class="item">
      <span>考核期:</span> 2015年6月
    </div>
    <div class="item">
      <span>报表时间:</span> 2015-07-02
    </div>
    <div class="item">
      <span>考核人:</span> 2015年6月
    </div>
  </div>

  <div class="basic-info">
    <div class="img-wrap ">
      <img src="assets/images/default_img/default_avatar.png" alt="">
    </div>
    <div class="right ">
      <div class="name-of-car">
        <div class="name">周大勇</div>
        <div class="car">
          <span>绑定车辆：</span><span>粤Q12354</span>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-3">
          <div class="exam-fen">
            <p>考核结果</p>
            <div class="fraction">99</div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="exam-fen">
            <p>运营管控考评</p>
            <div class="fraction">99</div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="exam-fen">
            <p>驾驶行为考评</p>
            <div class="fraction">99</div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="exam-fen">
            <p>环保得分</p>
            <div class="fraction">99</div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="exam-count">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h6>运行管控考评</h6>
        <table class="table text-center table-bordered">
          <thead>
            <th class="text-center">时间栅栏</th>
            <th class="text-center">驶入报警</th>
            <th class="text-center">驶出报警</th>
            <th class="text-center">疲劳报警</th>
            <th class="text-center">超速报警</th>
            <th class="text-center">怠速报警</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 col-lg-6">
        <h6>油耗里程考评</h6>
        <table class="table text-center table-bordered">
          <thead>
            <th class="text-center">行驶里程(km)</th>
            <th class="text-center">耗油量(L)</th>
            <th class="text-center">平均油耗</th>
            <th class="text-center">怠速油耗</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 col-lg-12">
        <table class="table text-center table-bordered">
          <thead>
            <th class="text-center">序号</th>
            <th class="text-center">项目名称</th>
            <th class="text-center">单位</th>
            <th class="text-center">本月累计</th>
            <th class="text-center">平均百公里值</th>
            <th class="text-center">云样本均值</th>
            <th class="text-center">偏离率</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>急加油</td>
              <td>次</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>1</td>
              <td>急加油</td>
              <td>次</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>1</td>
              <td>急加油</td>
              <td>次</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>1</td>
              <td>急加油</td>
              <td>次</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="verify-area">
    <div class="row">
      <div class="col-6 col-lg-6">
        <div class="driver-verify">
          <h6>驾驶员确认：</h6>
          <p>
            <span class="year">年</span>
            <span>月</span>
            <span>日</span>
          </p>
        </div>
      </div>
      <div class="col-6 col-lg-6">
        <div class="principal-verify">
          <h6>运管负责人</h6>
          <p>
            <span class="year">年</span>
            <span>月</span>
            <span>日</span>
          </p>
        </div>
      </div>
    </div>
  </div>
<!--endprint-->
</div>
