<div class="custom-card">
  <div class="custom-card-header">
    <h4>入库信息</h4>
  </div>
  <div class="custom-card-body">
    <div class="form-custom-area">
      <div class="control-wrap">
        <label>订单号：</label>
          <app-select class="form-control" [placeholder]="placeholder" [optionName]="optionName" [optionList]="optionList" (result)="getOrderDetail($event)"></app-select>
      </div>
    </div>
    <div class="form-custom-area" *ngIf="orderInfo && PurchaseOrderNO">
      <label>供应商：</label>
      <span class="c-static-text">{{orderInfo.SuppliersName || ''}}</span>
    </div>
    <div class="form-custom-area" *ngIf="orderInfo && PurchaseOrderNO">
      <label>产品型号：</label>
      <span class="c-static-text">{{orderInfo.DeviceModelName || ''}}</span>
    </div>
    <div class="form-custom-area" *ngIf="orderInfo && PurchaseOrderNO">
      <label>订单数量：</label>
      <span class="c-static-text">{{orderInfo.DeviceCount || ''}}</span>
    </div>
    <div class="form-custom-area" *ngIf="orderInfo && PurchaseOrderNO">
      <label>未导入数：</label>
      <span class="c-static-text">{{orderInfo.NotImportCount || ''}}</span>
    </div>
    <div class="form-custom-area" *ngIf="orderInfo && PurchaseOrderNO">
      <label>下单人：</label>
      <span class="c-static-text">{{orderInfo.OrdersPerson || ''}}</span>
    </div>
    <div class="form-custom-area" *ngIf="orderInfo && PurchaseOrderNO">
      <label>订单日期：</label>
      <span class="c-static-text">{{orderInfo.PurchaseTime || ''}}</span>
    </div>
  </div>
</div>
<div class="custom-card">
  <div class="custom-card-header">
    <h4 class="import-desrc">导入说明:</h4>
    <ol>
      <li>导入数据前，先下载数据模板,点击 <a [href]="DownExcel">下载设备模板</a></li>
      <li>填写数据.</li>
      <li>上传.</li>
    </ol>
  </div>
  <div class="custom-card-body">
    <app-mit-loading [option]="'load7'" *ngIf="showLoading"></app-mit-loading>
    <app-file-upload style="width:50%;margin:0 auto;" (uploadedEvt)="uploadHandle($event)"></app-file-upload>
  </div>
  <div class="custom-card-footer ">
    <div class="operator-button">
      <button class="btn btn-primary" [disabled]="!file || !PurchaseOrderNO" (click)="saveHandler(file)">保存</button>
      <button class="btn btn-secondary" (click)="back()">取消</button>
    </div>
  </div>
</div>
