@charset 'utf-8';
@import '../../../assets/scss_styles/custom_scss/_custom-export.scss';

.content-header {
  padding: toRem(5px) 0;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: $fs-color-grey3;
  }

  .inner-page-title {
    margin-bottom: 0;
    line-height: toRem(34px);
  }

  .breadcrumb-wrap {
    padding: toRem(2px) toRem(10px);
    font-size: toRem($fs14);
    @include flex(center, center);
    flex-wrap: wrap;

    a {
      @include remove-a-default-behavior;

      &:hover {
        color: $brand-danger;
      }
    }

    .small-airplane {
      padding: 0.5rem;
    }
  }
}
