<div class="supplier-select select-temp">
  <div class="select" (click)="isExpand = !isExpand">
    <input type="text" placeholder="请选择供应商" [(ngModel)]="selected" class="form-control" [disabled]="true">
  </div>
  <div class="list-menu" [@fadeIn]="true" *ngIf="isExpand">
    <div class="sub-input">
      <input type="text" placeholder="快速搜索" [(ngModel)]="searcVal">
    </div>
    <ul class="limit-height">
      <ng-template [ngIf]="!showAll && !array.length">
        <li>暂无供应商</li>
      </ng-template>
      <ng-template [ngIf]="showAll">
        <li (click)="selectHandler('all');isExpand = !isExpand">全部</li>
      </ng-template>
      <ng-template ngFor let-item [ngForOf]="array | supplierSelect:searcVal">
        <li (click)="selectHandler(item);isExpand = !isExpand">{{item.SuppliersName}}</li>
      </ng-template>
    </ul>
  </div>
</div>
