<div class="custom-card">
  <div class="custom-card-header">
    <h4 class="space-between">
      <span>参数设置</span>
      <button type="button" class="btn btn-primary" (click)="back()">返回</button>
    </h4>
  </div>
  <div class="custom-card-body" *ngIf="DeviceRenderInfo && DeviceRenderInfo.DeviceDTO && DeviceRenderInfo.VehicleDTO" [@fadeIn]="true">
    <div class="row" [@fadeIn]="true">
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="simple-info flex-center">
          <label class="title">车牌：</label>
          <span class="content">{{DeviceRenderInfo.VehicleDTO.Plate || ''}}</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="simple-info flex-center">
          <label class="title">品牌车型：</label>
          <span class="content">{{DeviceRenderInfo.VehicleDTO.ModelName || ''}}</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="simple-info flex-center">
          <label class="title">客户：</label>
          <span class="content">{{DeviceRenderInfo.DeviceDTO.OrganizationName || ''}}</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="simple-info flex-center">
          <label class="title">IMEI：</label>
          <span class="content">{{DeviceRenderInfo.DeviceDTO.IMEI|| ''}}</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="simple-info flex-center">
          <label class="title">产品型号：</label>
          <span class="content">{{DeviceRenderInfo.DeviceDTO.DeviceModelName || ''}}</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="simple-info flex-center">
          <label class="title">设备状态：</label>
          <span class="content">{{DeviceRenderInfo.VehicleDTO.DeviceStatusName || ''}}</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="simple-info flex-center">
          <label class="title">软件版本：</label>
          <span class="content">{{DeviceRenderInfo.DeviceDTO.VersionNumber || ''}}</span>
        </div>
      </div>
    </div>
    <div class="device-operator">
      <h6>设备操作设置</h6>
      <div class="btn-wrap">
        <!--<span>OBD通讯当前状态：{{ obdStatusText || DeviceRenderInfo.DeviceDTO.OBDStatusName}}</span><button type="button" (click)="setStatus()" [disabled]="obdStatus == (2 || 4)" class="btn btn-primary" *ngIf="DeviceRenderInfo.DeviceDTO.IsOBDSwitchSupported">{{obdBtnStatus}}</button>-->
        <span>OBD通讯当前状态：{{ obdStatusText || DeviceRenderInfo.DeviceDTO.OBDStatusName}}</span>
        <!--<button type="button" class="btn btn-primary" disabled>恢复出厂设置</button>
        <button type="button" class="btn btn-primary" disabled>设备重启</button>
        <button type="button" class="btn btn-primary" disabled>重新进行安装位置校正</button>-->
      </div>
    </div>
  </div>
  <div class="custom-card-footer">
    <app-mit-loading [option]="'load7'" *ngIf="!SingleDeviceParamList"></app-mit-loading>
    <h6>事件阈值设置</h6>
    <!--表格区域-->

    <app-mit-data-table>
      <form>
        <table *ngIf="SingleDeviceParamList" [@fadeIn]="true">
          <thead>
            <tr>
              <th>功能</th>
              <th>说明</th>
              <th>默认值</th>
              <th>范围值</th>
              <th>当前值</th>
              <th>设置值</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of SingleDeviceParamList; let i = index" [ngSwitch]="item.SetType">
              <td>{{item.Name || ''}}</td>
              <td [title]="item.Description">{{item.Description || '' | SliceStr:0:10:'...'}}</td>
              <td>{{item.DefaultValue || ''}}</td>
              <td>{{item.RangeValue || ''}}</td>
              <td>{{item.Value || ''}}</td>
              <td>
                <input type="number" *ngSwitchDefault class="form-control" [ngClass]="{error: item.setErrorClass,success:item.setSuccessClass}"
                  [(ngModel)]="item.setValue" (ngModelChange)="disabledFn(SingleDeviceParamList,item,i)" [ngModelOptions]="{standalone: true}">
                <input type="text" *ngSwitchCase="80" class="form-control ipport" [ngClass]="{error: item.setErrorClass,success:item.setSuccessClass}"
                  [(ngModel)]="item.setValue" (ngModelChange)="disabledFn(SingleDeviceParamList,item,i)" [ngModelOptions]="{standalone: true}"
                  placeholder="127.0.0.1:9999">
              </td>
            </tr>
          </tbody>
        </table>
        <div class="submit-area">
          <button type="submit" class="btn btn-primary" [disabled]="disabled" (click)="Submit($event)">保存</button>
        </div>
      </form>
    </app-mit-data-table>
  </div>
</div>
