@charset 'utf-8';
@import '../../../../../../assets/scss_styles/custom_scss/_custom-export.scss';
app-mit-baidu-map {
    width: 100%;
    height: toRem(400px);
    display: block;
    overflow: hidden;
    margin: 0;
}

.cycle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
