@charset 'UTF-8';
@import '../../../../../assets/scss_styles/custom_scss/_custom-export.scss';
$show-item-content-fontSize:14px !default;
.vehicle-basic {
  background-color: #f4f7f8;
  padding: 20px;
  >h5{
    color:#f5f5f5;
    display: inline-block;
    background-color:#5198d4;
    padding:0.65rem 1rem;
    font-weight:600;
    margin-bottom:0;
    margin-left:-23px;
    font-size:$show-item-content-fontSize;
    position:relative;
  }
}
.show-item {
  @include flex(flex-start, center);
  padding: 0.5rem 0;
  label {
    width: 100px;
    text-align: right;
    font-size: $show-item-content-fontSize;
    color: #b8babb;
    margin-bottom: 0;
  }
  >span {
    padding: 0 1rem;
    color: #313131;
    font-size:$show-item-content-fontSize;
  }
}
.guarantee{
    margin-top: 30px;
    .my-table{
        font-size: 0.875rem;
        color: #6b6e70;
        text-align: center;
        th{
            text-align: center;
            font-size: 0.875rem;
        }
    }
}

