<div class="department-select select-temp">
  <div class="select" (click)="isExpand = !isExpand">
    <input type="text" placeholder="请选择部门" [(ngModel)]="selected" [disabled]="true" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="list-menu" [@fadeIn]="true" *ngIf="isExpand">
    <div class="sub-input" *ngIf="array && array.length > 1">
      <input type="text" placeholder="快速搜索" [(ngModel)]="searcVal">
    </div>
    <div class="downdrop">
      <ul>
        <li *ngIf="concatCompany && OID && array && !array.length || !concatCompany && array && !array.length">暂无相关部门</li>
        <li *ngIf="concatCompany && !OID">请选择公司</li>
        <li *ngIf="showAll && array && array.length" (click)="selectHandler('all');isExpand = !isExpand;">全部</li>
        <li *ngFor="let item of array" (click)="selectHandler(item);isExpand = !isExpand">{{item.DepartmentName}}</li>
      </ul>
    </div>
  </div>
</div>
