<app-mit-alert [title]="'操作记录'" [closeName]="'关闭'" (close)="closeHandler($event)">
  <app-mit-loading [option]="'load7'" *ngIf="!list"></app-mit-loading>
  <app-mit-data-table>
    <table *ngIf="list">
      <thead>
        <tr>
          <th>变更时间</th>
          <th>车牌</th>
          <th>品牌车系</th>
          <th>操作</th>
          <th>操作人</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{item.ActionTime}}</td>
          <td>{{item.Plate}}</td>
          <td>{{item.BrandLineName}}</td>
          <td>{{item.BindStatus}}</td>
          <td>{{item.AccountName}}</td>
        </tr>
      </tbody>
    </table>
  </app-mit-data-table>
  <!--Tips-->
  <div class="tips" *ngIf="list && !list.length">
    暂时没有相关的记录
  </div>
</app-mit-alert>
