@charset 'UTF-8';
@import '../../../../../../assets/scss_styles/custom_scss/_custom-export.scss';
span {
  display: inline-block;
  padding: 1rem;
  font-size: 15px;
}

.title {
  width: 9rem;
  text-align: right;
}

.content {
  white-space: normal;
  word-break: break-all;
  max-width: 70%;
}