<div class="custom-card separation">
  <div class="custom-cad-header">
    <!--搜索区域-->
    <div class="table-search">
      <form>
        <a (click)="add()" class="btn-add-or-public">新增供应商</a>
      </form>
    </div>
  </div>
  <div class="custom-card-body" [@fadeIn]="true">
    <app-mit-loading [option]="'load7'" *ngIf="!list"></app-mit-loading>
    <!--表格区域-->
    <app-mit-data-table>
      <table *ngIf="list">
        <thead>
          <tr>
            <th>编号</th>
            <th>供应商名称</th>
            <th>供应商简称</th>
            <th>联系人</th>
            <th>联系电话</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{item.ID}}</td>
            <td>{{item.SuppliersName}}</td>
            <td>{{item.Abbreviation}}</td>
            <td>{{item.Contacts}}</td>
            <td>{{item.SuppliersTelephone}}</td>
            <td>{{item.CreateTime}}</td>
            <td>
              <span class="operator-span" (click)="detail(item.ID)">查看</span>
              <span class="operator-span" (click)="modify(item.ID)">修改</span>
            </td>
          </tr>
        </tbody>
      </table>
    </app-mit-data-table>
    <!--分页-->
    <app-mit-data-table-pagination [currentPage]="currentPage" [totalCountSize]="totalCount" (pageChange)="pageChange($event)" [maxSize]="5" [rotate]="true"></app-mit-data-table-pagination>
    <h3 *ngIf="list && list.length === 0" class="text-center text-muted" [@bounceIn]="true">暂无相关数据信息!!!</h3>
  </div>
</div>
<app-delete *ngIf="showDeleteAlert" [item]="deleteItem" (close)="closeAlert($event)"></app-delete>
