@charset 'UTF-8';
@import '../../../../../assets/scss_styles/custom_scss/_custom-export.scss';
.DriverCount,
.SafeDriving,
.DrivingBehavior,
.MoralHazard {
  border: 2px solid #e8e9eb;
  margin: 15px;
  >h3 {
    font-size: 24px;
    width: 100%;
    padding: 30px;
    span {
      padding: 0 1rem;
      color: #e74f5b;
    }
    em{
      font-size:$fs20;
      font-style: normal; 
    }
  }
  .canvas-wrapper{
    margin:15px;
    width:90%;
    @include center-block;
  }
  height:auto;

}

$line-left-color:#ea2626;
$line-right-color:#ffa500;
// 驾驶员管理-安全驾驶
.SafeDriving {
  .icon-constrcuct {
    padding: 90px 30px 0;
    @include flex(center, center);
    .icon-wrap {
      @include flex(center, flex-start);
      height: 120px;
      width: 120px;
      border-radius: 100%;
      border: 10px solid #e8e9eb;
      i {
        font-size: 64px;
        color: #e8e9eb;
      }
    }
    .color-red {
      background-color: $line-left-color !important;
    }
    .color-orange {
      background-color: $line-right-color !important;
    }
    .counter-wrapper {
      height: 100px;
      width: 25%;
      &.no-content {
        padding-top: 70px;
      }
      .counter {
        h3,
        p {
          display: block;
          text-align: center;
          font-size: 18px;
          width: 100%;
        }
      }
      margin-top:-100px;
      margin-left:30px;
      margin-right:30px;
    }
    .reverse {
      transform: scaleX(-1) !important;
    }
    .line-trangle {
      height: 2px;
      background-color: #333;
      min-width: 60px;
      width: 100%;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -4px;
        height: 8px;
        width: 8px;
        border-radius: 6px;
        margin-top: 1px;
        background-color: inherit;
      }
      &:after {
        content: '';
        position: absolute;
        right: -27px;
        top: 6px;
        height: 2px;
        width: 30px;
        background-color: inherit;
        -webkit-transform: rotate(-330deg);
        transform: rotate(-336deg);
      }
      &.color-red:before {
        background-color: $line-left-color;
      }
      &.color-orange:before {
        background-color: $line-right-color;
      }
      &.color-red:after {
        background-color: $line-left-color;
      }
      &.color-orange:after {
        background-color: $line-right-color;
      }
    }
  }
  .icon-count-state {
    @include flex(space-between, flex-start);
    padding: 80px 30px 30px;
    margin-top: -100px;
    .icon-by,
    .icon-wx {
      width: 38%;
    }
    .flex-inline {
      @include flex(center, center);
      .icon-wrap {
        @include flex(center, center);
        i {
          font-size: 34px;
          padding: .5rem;
          &.orange {
            color: #ffa500;
          }
          &.blue {
            color: #3598dc;
          }
        }
      }
      .counter {
        p {
          margin: 0;
          padding: 5px;
        }
      }
    }
  }
}
