@charset 'utf-8';
@import '../../../../../assets/scss_styles/custom_scss/_custom-export.scss';
.item-area {
    padding: 15px;
    margin: 0 0 30px 0;
    background-color: #fff;
    h6 {
        padding: 10px;
        @include flex(flex-start, center);
    }
    .title-icon {
        font-size: 24px;
        color: #32aec6;
        padding-right: 0.5rem;
    }
    .status {
        min-width: toRem(100px);
    }
    .tips {
        padding: 15px;
    }
}
