@charset 'utf-8';
@import '../../../assets/scss_styles/custom_scss/custom-export.scss';
.time-picker {
  background: #FFF;
  position: relative;
  margin: -0.5rem -0.75rem;
  .select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    input {
      font-family: "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
      background: transparent;
      border: none;
      display: block;
      width: 100%;
      padding: 0.5rem 0 0.5rem 0.75rem;
      font-size: 1rem;
      line-height: 1.25;
      color: #55595c;
      &:disabled {
        cursor: pointer;
      }
    }
    span {
      padding: 7px;
    }
  }
  .list-menu {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    background: #FFF;
    z-index: 9999;
    border: 1px solid #CCC;
    width: 100%;
    .sub-list {
      &:last-child {
        ul {
          li {
            &:after {
              content: '';
            }
          }
        }
      }
      -webkit-flex: 1;
      flex: 1;
      max-height: 200px;
      overflow-y: auto;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          position: relative;
          cursor: pointer;
          padding: 10px;
          width: 100%;
          &.active,
          &:active,
          &:focus,
          &:hover {
            background-color: #f7f7f7;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.setPlaceholder {
  @include placeholder-color(#ccc);
}
