@charset 'UTF-8';
@import '../../../../../assets/scss_styles/custom_scss/_custom-export.scss';


.content-list{
  margin-top:20px;
  padding:20px;
  background:#fff;
  border-top:2px solid #ebebeb;
}
