<div class="mit-table">
  <table class="table" role="grid">
    <!--表头-->
    <thead>
      <tr role="row">
        <!--全选-->
        <th *ngIf="checkbox">
          <input type="checkbox" [(ngModel)]="checkedAll" (change)="checkAll()">
        </th>
        <!--内容头部-->
        <th *ngFor="let column of columns" (click)="sorting(column)" [class.sorting]="column.sorting">
          {{column.name}}
          <span *ngIf="column.sorting"><i class="fpd" [class.fpd-paixujiantou]="column.sorting && column.field !== sortingFlag" [class.fpd-paixuxia]="orderFlag === 'asc' && column.field == sortingFlag" [class.fpd-paixushang]="orderFlag === 'desc' && column.field == sortingFlag"></i></span>
        </th>
        <!--操作-->
        <th  *ngIf="operations.length">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows | paging:currentPage:pageSize | sorting:sortingFlag:orderFlag;let i = index;">
        <!--checkbox-->
        <td *ngIf="checkbox">
          <div class="checkbox">
            <input type="checkbox" [(ngModel)]="row.check" (ngModelChange)="checked()">
            <label for="checkbox"></label>
          </div>
        </td>
        <!--表格元素-->
        <td *ngFor="let column of columns" [innerHtml]="sanitize(getData(row, column.field))">

        </td>
        <!--操作-->
        <td>
          <span  *ngFor="let item of operations" (click)="action(row,item)"  class="operator-span">{{item.action_name}}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-6">
      <div class="footer-total" *ngIf="!checkedList.length">
          显示 {{currentPage * pageSize - pageSize + 1}} 项到
          <span *ngIf="currentPage * pageSize <= rows.length">{{currentPage * pageSize}} </span>
          <span *ngIf="currentPage * pageSize > rows.length">{{rows.length}} </span> 项 , 共 {{rows.length}} 项
      </div>
      <div class="footer-button" *ngIf="checkedList.length">
        <button class="btn btn-secondary" (click)="checkAction('delete')">删除</button>
        <button class="btn btn-secondary" (click)="checkAction('read')">标记已读</button>
      </div>
    </div>
    <div class="col-md-6">
      <app-mit-table-pagination [collectionSize]="rows.length" [pageSize]="pageSize" [(page)]="currentPage" (pageChange)="pageChange($event)"
        class="float-md-right"></app-mit-table-pagination>
    </div>
  </div>
</div>
