<div class="custom-card separation">
  <div class="custom-card-header">
    <!--搜索区域-->
    <div class="table-search">
      <form>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">关键字</label>
          <input type="text" class="form-control" [(ngModel)]="FenceName" [ngModelOptions]="{standalone: true}" (keyup.enter)="search(FenceName)"
            placeholder="栅栏名称">
        </div>
        <button type="button" class="btn btn-primary" (click)="search(FenceName)">查询</button>
        <button type="button" class="btn btn-secondary" [routerLink]="['../add']"><i class="fpd fpd-jiahao"></i>新增围栏</button>
      </form>
    </div>
  </div>
  <div class="custom-card-body" [@fadeIn]="true">
    <app-mit-loading [option]="'load7'" *ngIf="!list"></app-mit-loading>
    <app-mit-modal [text]="text" *ngIf="isModal"></app-mit-modal>
    <!--表格区域-->
    <app-mit-data-table>
      <h6 class="desrc">说明：未加入超速栅栏的车辆，默认为速度大于120km/h,触发速度栅栏事件;</h6>
      <table *ngIf="list">
        <thead>
          <tr>
            <th>创建时间</th>
            <th>栅栏名称</th>
            <th>受控车数</th>
            <th>围栏内容</th>
            <!--<th>状态</th>-->
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{item.CreateTime || '-'}}</td>
            <td>{{item.FenceName || '-'}}</td>
            <td>{{item.ControlVehicleCount || 0}}</td>
            <td>{{item.FenceAddress || '-'}}</td>
            <!--<td class="beautify-wrap"><input type="checkbox" class="beautify-checkbox" name="rememberme" [id]="item.ID" [(ngModel)]="item.Status" (ngModelChange)="UpdateFenceStatus(item.ID,item.Status);">
              <label [for]="item.ID"></label>
            </td>-->
            <td>
              <span class="operator-span" (click)="detail(item.ID)">车辆管理</span>
              <span class="operator-span" (click)="modify(item.ID)">修改</span>
              <span class="operator-span" (click)="delete(item)">删除</span>
            </td>
          </tr>
        </tbody>
      </table>
    </app-mit-data-table>
    <!--分页-->
    <app-mit-data-table-pagination [currentPage]="currentPage" [listCount]="listCount" [totalCountSize]="totalCount" (pageChange)="pageChange($event)" [maxSize]="10" [rotate]="true"></app-mit-data-table-pagination>
    <h3 *ngIf="list && list.length === 0" class="text-center text-muted" [@bounceIn]="true">暂无相关数据信息!!!</h3>
  </div>
</div>
<app-delete *ngIf="showDeleteAlert" [item]="deleteItem" (close)="closeAlert($event)"></app-delete>
