<div class="custom-card">
  <div class="custom-card-header">
    <h4 class="space-between" style="padding: 0;">
      <span>汽车点名</span>
      <button type="button" class="btn btn-primary" (click)="back()">返回</button>
    </h4>
  </div>
  <div class="custom-card-body">
    <div class="row" *ngIf="NameOfCarRenderInfo" [@fadeIn]="true">
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="simple-info flex-center">
          <label class="title">栅栏名称：</label>
          <span class="content">{{NameOfCarRenderInfo.RuleContent.FenceName || ''}}</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="simple-info flex-center">
          <label class="title">创建时间：</label>
          <span class="content">{{NameOfCarRenderInfo.CreateTime || ''}}</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="simple-info flex-center">
          <label class="title">创建人：</label>
          <span class="content">{{NameOfCarRenderInfo.AccountName || ''}}</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="simple-info flex-center">
          <label class="title">驻车点：</label>
          <span class="content">{{NameOfCarRenderInfo.RuleContent.FenceAddress || ''}}</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="simple-info flex-center">
          <label class="title">范围：</label>
          <span class="content">{{NameOfCarRenderInfo.RuleContent.R || 0}} 米</span>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12">
        <div class="simple-info flex-center">
          <app-mit-baidu-map></app-mit-baidu-map>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="custom-card" *ngIf="id">
  <div class="custom-card-header">
    <div class="row" *ngIf="list">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="simple-info flex-center">
          <label class="title">监控车辆：</label>
          <span class="content red">{{list.length}}</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 offset-lg-6">
        <div class="simple-info flex-center-r">
          <button type="button" class="btn btn-sm btn-success " (click)="addcar()">添加车辆</button>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-card-body">
    <app-mit-loading [option]="'load7'" *ngIf="!list"></app-mit-loading>
    <!--表格区域-->
    <app-mit-data-table>
      <table *ngIf="list" [@fadeIn]="true">
        <thead>
          <tr>
            <th>车牌</th>
            <th>部门</th>
            <th>品牌车系</th>
            <th>添加时间</th>
            <th>添加人</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{item.Plate || '-'}}</td>
            <td>{{item.DepartmentName || '-'}}</td>
            <td>{{item.BrandLineName || '-'}}</td>
            <td>{{item.CreateTime || '-'}}</td>
            <td>{{item.AccountName || '-'}}</td>
            <td>
              <span class="operator-span" (click)="delete(item)"><i class="fpd fpd-jinyong red"></i></span>
            </td>
          </tr>
        </tbody>
      </table>
    </app-mit-data-table>
    <!--分页-->
    <app-mit-data-table-pagination [currentPage]="currentPage" [listCount]="listCount" [totalCountSize]="totalCount" (pageChange)="pageChange($event)" [maxSize]="10"
      [rotate]="true"></app-mit-data-table-pagination>

    <!--提示-->
    <div class="tips" *ngIf="list && !list.length">
      暂无相关车辆
    </div>
  </div>
</div>
<app-detect-car *ngIf="showDetectAlert" [item]="id" (close)="closeAlert($event)"></app-detect-car>
<app-delete *ngIf="showDeleteAlert" [item]="deleteItem" (close)="closeDeleteAlert($event)"></app-delete>
