<div class="custom-card">
  <div class="custom-card-header">
    <app-mit-loading [option]="'load7'" *ngIf="!carinfo"></app-mit-loading>
    <table class="table table-bordered text-center" *ngIf="carinfo" [@fadeIn]="true">
      <thead>
        <tr>
          <th class="text-center">车牌</th>
          <th class="text-center">品牌车系</th>
          <th class="text-center">排量</th>
          <th class="text-center">部门</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{carinfo.Plate || '-' }}</td>
          <td>{{carinfo.VehicleModelName || '-' }}</td>
          <td>{{carinfo.Displacement || '-' }}</td>
          <td>{{carinfo.CompanyName || '-' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="custom-card-body">
    <div class="custom-card separation">
      <div class="table-search">
        <form>
          <div class="form-group condition-wrapper">
            <label class="form-control-label">时间范围</label>
            <input type="text" name="dp" (click)="StartTime.toggle();" ngbDatepicker [(ngModel)]="startTime" #StartTime="ngbDatepicker"
              class="form-control" placeholder="开始时间" [maxDate]="currentDate"> <label class="time">至</label>
            <input type="text" name="dp" (click)="EndTime.toggle();" ngbDatepicker [maxDate]="currentDate" [(ngModel)]="endTime" [maxDate]="currentDate"
              #EndTime="ngbDatepicker" class="form-control" placeholder="结束时间">
          </div>
          <button type="button" class="btn btn-primary" (click)="search(startTime,endTime)">查询</button>
        </form>
      </div>
      <div class="custom-card-body" *ngIf="engineStatusChart">
        <app-mit-echarts [option]="engineStatusChart" [id]="'engineStatusChart'" [height]="'600px'"></app-mit-echarts>
      </div>
    </div>
  </div>
</div>
