<div class="custom-card separation">
  <div class="custom-cad-header">
    <!--搜索区域-->
    <div class="table-search">
      <form>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">客户名称</label>
          <app-organization-select class="form-control" [showAll]="true" (result)="OID = $event"></app-organization-select>
        </div>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">供应商</label>
          <app-supplier-select class="form-control" (result)="supplierID = $event" [showAll]="true"></app-supplier-select>
        </div>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">产品型号</label>
          <app-product-number-select class="form-control" [showAll]="true" [SupplierId]="supplierID" (result)="DeviceModelID = $event"></app-product-number-select>
        </div>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">软件版本</label>
          <app-software-version-select class="form-control" [showAll]="true" (result)="FirmwareID = $event"></app-software-version-select>
        </div>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">设备状态</label>
          <app-select class="form-control" [placeholder]="placeholder" [optionName]="optionName" [optionList]="optionList" (result)="getDeviceStatus($event)"></app-select>
        </div>

        <div class="form-group condition-wrapper">
          <label class="form-control-label">升级日期</label>
          <input type="text" ngbDatepicker #StartDate="ngbDatepicker" class="form-control" (click)="StartDate.toggle()" [(ngModel)]="StartTime"
            [ngModelOptions]="{standalone: true}" placeholder="开始时间"> &nbsp; &nbsp;&nbsp;
          <input type="text" ngbDatepicker #EndDate="ngbDatepicker" [maxDate]="currentDate" class="form-control" [(ngModel)]="EndTime"
            [ngModelOptions]="{standalone: true}" (click)="EndDate.toggle()" placeholder="结束时间">
        </div>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">设备IMEI</label>
          <input type="text" class="form-control" placeholder="设备IMEI" [(ngModel)]="IMEI" (keyup.enter)="search(OID,DeviceModelID,IMEI,DeviceStatus,StartTime,EndTime,Plate,FirmwareID)"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group condition-wrapper">
          <label class="form-control-label">车牌</label>
          <input type="text" class="form-control" placeholder="车牌" [(ngModel)]="Plate" (keyup.enter)="search(OID,DeviceModelID,IMEI,DeviceStatus,StartTime,EndTime,Plate,FirmwareID)"
            [ngModelOptions]="{standalone: true}">
        </div>

        <button type="button" class="btn btn-primary" (click)="search(OID,DeviceModelID,IMEI,DeviceStatus,StartTime,EndTime,Plate,FirmwareID)">查询</button>
      </form>
    </div>
  </div>
  <div class="custom-card-body" [@fadeIn]="true">
    <app-mit-loading [option]="'load7'" *ngIf="!list"></app-mit-loading>
    <app-mit-modal [text]="text" *ngIf="isModal"></app-mit-modal>
    <!--表格区域-->
    <app-mit-data-table>
      <table *ngIf="list">
        <thead>
          <tr>
            <th>IMEI</th>
            <th>产品型号</th>
            <th>客户</th>
            <th>车牌</th>
            <th>品牌车系</th>
            <th>软件名称</th>
            <th>软件版本</th>
            <th>设备状态</th>
            <th>升级时间</th>
            <th>升级状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{item.IMEI || ''}}</td>
            <td>{{item.DeviceModelName || ''}}</td>
            <td>{{item.OrganizationName || ''}}</td>
            <td>{{item.Plate || ''}}</td>
            <td>{{item.BrandName || ''}}</td>
            <td>{{item.SoftName || ''}}</td>
            <td>{{item.VersionNumber || ''}}</td>
            <td>{{item.DeviceStatus || ''}}</td>
            <td>{{item.UpdateTime || ''}}</td>
            <td>{{item.Reply || ''}}</td>
            <td>
              <span class="operator-span" (click)="currentItem = item;showUpgradeAlert = true;">升级</span>
              <span class="operator-span" (click)="currentItem = item;showRecordAlert = true;">升级记录</span>
            </td>
          </tr>
        </tbody>
      </table>
    </app-mit-data-table>
    <!--分页-->
    <app-mit-data-table-pagination [currentPage]="currentPage" [totalCountSize]="totalCount" (pageChange)="pageChange($event)" [maxSize]="5" [rotate]="true"></app-mit-data-table-pagination>
    <h3 *ngIf="list && list.length === 0" class="text-center text-muted" [@bounceIn]="true">暂无相关数据信息!!!</h3>
    <!--升级-->
    <app-upgrade [item]="currentItem" (close)="UpgradeAlert($event)" *ngIf="showUpgradeAlert"></app-upgrade>


    <!--升级记录-->
    <app-record [item]="currentItem" (close)="showRecordAlert = false" *ngIf="showRecordAlert"></app-record>
  </div>
</div>
